/* .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
}

.animated-rectangle-container {
  position: relative;
  width: 90%; 
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-rectangle {
  width: 100%;
  height: 100%;
  background-image: url('https://everwallpaper.com/cdn/shop/files/wheat-field-wallpaper-mural-plain.jpg?v=1722224502');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  opacity: 0;
  animation: revealRectangle 1.5s ease-out forwards;
}

.rectangle-frame {
  position: absolute;
  width: calc(100% + 20px); 
  height: calc(100% + 20px);
  border: 10px solid #d4af37; 
  z-index: 2;
  opacity: 0;
  animation: revealFrame 2s ease-out forwards;
  animation-delay: 1.5s; 
}

.rectangle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  animation: fadeIn 1.5s ease-in forwards;
  animation-delay: 1s;
}

.rectangle-text {
  position: absolute;
  z-index: 3;
  color: #ffffff;
  font-size: 7rem;
  font-weight: 700;
  font-family: 'Merriweather', serif; 
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInText 1.5s ease-out forwards;
  animation-delay: 2.5s; 
}

@keyframes revealRectangle {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes revealFrame {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
} */


/* ball */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
}

.animated-ball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.animated-ball {
  width: 55vw; /* Define largura com base na largura da viewport */
  height: 55vw; /* Define altura igual à largura para manter a esfera */
  border-radius: 50%; /* Garante que seja perfeitamente redonda */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-image: url('https://everwallpaper.com/cdn/shop/files/wheat-field-wallpaper-mural-plain.jpg?v=1722224502');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  animation: scaleIn 1.5s ease-out forwards; 
  opacity: 0; 
}

.ball-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0; 
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 1s; 
  z-index: 1;
}

.ball-text {
  position: absolute;
  z-index: 2;
  color: #ffffff; 
  font-size: 3.5rem; 
  font-weight: 700; 
  font-family: 'Playfair Display', serif; 
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 0.1px #0e0e0e; 
  text-stroke: 0.5px #fc4949; 
  text-fill-color: #131212; 
  opacity: 0;
  animation: fadeInText 1.5s ease-out forwards; 
  animation-delay: 3s; 
}

@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}  

@media (max-width: 768px) {
  .animated-ball {
    width: 90vw; 
    height: 90vw; 
    border-radius: 50%; 
  }

  .ball-text {
    position: absolute;
    z-index: 2;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 0.1px #0e0e0e;
    text-stroke: 0.5px #fc4949;
    text-fill-color: #131212;
    opacity: 0;
    animation: fadeInText 1.5s ease-out forwards;
    animation-delay: 3s;
  }
}
